[Unit]
Description=Run weather data feed snapshot collector every 30 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=30min
Persistent=true
Unit=weather-data-feed-snapshot.service

[Install]
WantedBy=timers.target
